body {
  margin: 0 5%;
  background: #333;
}

.headerLogo {
  color: white;
  text-align: right;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

#wrapper {
  margin: 0 10%;
  display: flex;
  flex-flow: wrap;
}


/*overlay for each div*/


.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: inline;
  z-index:0;
  border-radius: 10px;
}

.overlay:hover:before{
  display: none;
}

/*Starting overlay colors*/


.overlayScramble:before{
  background-color: rgba(255,0,0,0.5);
}
.overlayUnScramble:before{
  background-color: rgba(0,255,0,0.5);
}
.overlayColorGame:before {
  background-color: rgba(0,255,255,0.5);
}
.overlayCyoa:before {
  background-color: rgba(0,0,255,0.5);
}

.gameBox {
  border-radius: 15px;
  min-width: 400px;
  background-color: white;
  margin: 10px;
  height: 400px;
  width: auto;
  border: 3px solid black;
  flex: 1 0 45%;
}


/*ScrambleBox specific styles************/

#scrambleBox {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  position: relative;
}

#scramButton {
  font-family: 'Roboto Slab', serif;
  margin: 40px auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 1em;
}

#resetScramble {
  font-family: 'Roboto Slab', serif;
  margin: 40px auto;
  width: 100px;
  height: 30px;
  display: none;
  border-radius: 5px;
  font-size: 1em;
}

#scramInput {
  width: 55%;
  margin: 90px auto;
  font-size: 1.8em;
  border: none;
  border-bottom: 2px solid rgba(250, 250, 250, 1);
  text-align: center;
  outline: none;
}

#scramOutput {
  width: 50%;
  margin: 90px auto;
  font-size: 2em;
  border: none;
  border-bottom: 2px solid rgba(250, 250, 250, 1);
  text-align: center;
}


/*UNSCRAMBLE BOX STYLES****************/

#unScrambleBox {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#unScrambleBox h2 {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}

#startButton {
  font-family: 'Roboto Slab', serif;
  margin: 40px auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 1em;
}

#unscrambleInput {
  margin: 40px 35px;
  font-size: 2em;
  text-align: center;
  outline: none;
}

#score {
  padding-left: 20px;
  align-self: flex-start;
  float: left;
}

#resetUnScramble {
  font-family: 'Roboto Slab', serif;
  margin: 40px auto;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 1em;
}

#scoreboard {
  width: 100%;
  margin: 0 auto;
}

#scoreboard h3 {
  padding: 0 40px;
}

#attemptsRemaining {
  float: right;
}

#scramWord {
  margin-top: 40px;
}

#unscrambleButton {
  font-family: 'Roboto Slab', serif;
  margin: 0px auto;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-size: 1em;
}

#gOver {
  margin-top: 120px;
}

#gJob {
  margin-top: 120px;
}

/**UNSCRAMBLE BOX STYLES******END*********/


//**ColorGame STYLES******START*********/

#colorGame {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#colorNameContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 150px;
  width: 250px;
  border-radius: 360px;
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
}


#colorButtonContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px 50px 0px 50px;
}

.guessButton {
  background-color: white;
  border-radius: 15px;
  height: 50px;
  flex:0 0 30%;
  outline: none;
  margin: 10px;
}


#colorGameStart{
  background-color: white;
  border-radius: 15px;
  font-family: 'Roboto Slab', serif;
  margin: 10px auto 0px auto;
  width: 70px;
  height: 30px;
  font-size: 1em;
  outline: none;
}

#colorNamesColor {
  font-size: 3em;
  text-align: center;
  -webkit-text-stroke: 2px white;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
}

#redButton{
  background-color: #dc0404;
}
#purpleButton {
  background-color: #9f04dc;
}
#blueButton {
  background-color: #0409dc
}
#greenButton {
  background-color: #04dc0d;
}
#yellowButton {
  background-color: #f3e63d;
}
#orangeButton {
  background-color: #f3a33d;
}

#colorGameOver {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  color: white;
  margin-top: 30px;
}

#colorGameReset {
  font-family: 'Roboto Slab', serif;
  margin: 0px auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

/**colorGame STYLES******END*********/


/*CYOA BOX STYLES*******START*****/

#cyoaBox {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  position: relative;
  padding: 10%;
  font-size: 1em;
  min-height: 400px;
  height: auto;
  background: linear-gradient(to bottom, rgba(253,255,255,1) -1%,rgba(225,255,255,1) 0%,rgba(253,255,255,1) 0%,rgba(225,255,255,1) 2%,rgba(225,255,255,1) 3%,rgba(225,255,255,1) 12%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
}

#beginButton {
  font-family: 'Roboto Slab', serif;
  margin: 40px auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 1em;
}

#cyoaError {
  color: red;
  font-weight: bolder;
}

#cyoaRoomsAvail {
  color: rgba(63,76,107,1);
  font-family: monospace;
  font-weight: lighter;
}

.cyoaP {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}
